<div class="panel panel-primary" #panel>
    <div class="panel-heading" (click)="toggleTable()">
        {{title}}
    </div>
    <div *ngIf='opened'  [style.overflow-x]="toggleScroll">
    <table style="width:100%;" class="table-responsive table-bordered table-striped">
        <tr>
            <th *ngFor='let header of headers'>{{header}}</th>
        </tr>
        <tr *ngFor="let item of dataItems">
            <td *ngFor='let element of generateArray(item)'>{{element}}</td>
        </tr>
    </table>
    </div>
</div>