<div class="panel panel-primary" [style.overflow-x]="toggleScroll" #panel>
    <div class="panel-heading" (click)="toggleTable()">
        {{title}}
    </div>
    <table style="width:100%;"  [ngClass]="{hide: !opened}" class="table-responsive table-bordered table-striped">
        <tr>
            <th *ngFor='let header of headers'>{{header}}</th>
        </tr>
        <tr *ngFor="let problem of problems">
            <td *ngFor='let element of generateArray(problem)'>{{element}}</td>
        </tr>
    </table>
</div>