<div class="row">
    <div [dragula]='"d1"' class="col-md-5">
        <div id="problems">

            <infoPanel [dataItems]='problems' [title]='panelInfo.problemsTitle' [headers]='panelInfo.problemsHeaders'></infoPanel>
        </div>

        <div id="functionalAndCStatus">
            <infoPanel [dataItems]='functionalAndCStatus' [title]='panelInfo.functionalAndCStatusTitle' [headers]='panelInfo.functionalAndCStatusHeaders'></infoPanel>
        </div>
        <div id="results">
            <infoPanel [dataItems]='results' [title]='panelInfo.resultsTitle' [headers]='panelInfo.resultsHeaders'></infoPanel>
        </div>
        <div id="allergies">
            <infoPanel [dataItems]='allergies' [title]='panelInfo.allergiesTitle' [headers]='panelInfo.allergiesHeaders'></infoPanel>
        </div>
        
    </div>
    <div [dragula]='"d1"' class="col-md-5">

        <div id="medications">
            <infoPanel [dataItems]='medications' [title]='panelInfo.medicationsTitle' [headers]='panelInfo.medicationsHeaders'></infoPanel>
        </div>
        <div id="immunizations">
            <infoPanel [dataItems]='immunizations' [title]='panelInfo.immunizationsTitle' [headers]='panelInfo.immunizationsHeaders'></infoPanel>
        </div>
        <div id="vitalSigns">
            <infoPanel [dataItems]='vitalSigns' [title]='panelInfo.vitalSignsTitle' [headers]='panelInfo.vitalSignsHeaders'></infoPanel>
        </div>

    </div>
</div>
