<div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Recentia Health</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">Today's Patients</a></li>
        <li><a href="#">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<div class="row container-fluid">
  <div id="sidebar" class="col-md-2">
    <span id="username">Sam Hastings</span>
    <ul class="nav">
      <li class="active"><a [routerLink]="['/']"> Home</a></li>
      <li><a [routerLink]="['/about']">About</a></li>
      <li> <a [routerLink]="['/github', 'angular']">Github Repos</a></li>
      <li> <a [routerLink]="['/contact']">Contact Us</a></li>
      <li> <a [routerLink]="['/emr']">Patient EMR</a></li>
    </ul>
  </div>
  <div class="col-md-10">
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
<footer>
  © 2016
</footer>